In [454]:
#coding=utf-8
import pandas as pd
df_train = pd.read_csv('./doctrain.csv').dropna()
df_test = pd.read_csv('./doctest.csv').dropna()
print(df_test.columns)
X_train,Y_train = df_train['Data'],df_train['Label']
X_test,Y_test = df_test['Data'],df_test['Label']

Index(['Unnamed: 0', 'Data', 'Label'], dtype='object')

In [455]:
type(df_train)

pandas.core.frame.DataFrame

In [456]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [457]:
len(df_train)
from collections import Counter
Counter(df_train['Label'])

Counter({1: 15, 0: 6})

In [458]:
#unwanted_chars = ".,-_123456789:"
#vectorizer = TfidfVectorizer(tokenizer=lambda x: x.split(),min_df=1)
tfidf = TfidfVectorizer(tokenizer=lambda x: x.split(),max_features=200).fit(X_train)
X=tfidf.transform(X_train)

In [459]:
''''for x in vectorizer.vocabulary_:
    #print (x)
    for raw_word in x:
        #print(raw_word)
        if x in unwanted_chars:
            wordlist=raw_word.strip(unwanted_chars)
        print(wordlist)'''

"'for x in vectorizer.vocabulary_:\n    #print (x)\n    for raw_word in x:\n        #print(raw_word)\n        if x in unwanted_chars:\n            wordlist=raw_word.strip(unwanted_chars)\n        print(wordlist)"

In [460]:

#tfidf = TfidfVectorizer(tokenizer=lambda x: x.split(),min_df=1).fit(X_train)
#print(tfidf.vocabulary_)

In [461]:
#tfidf.transform(X_train)[0].toarray()

In [462]:
#X_tfidf = tfidf.transform(X_train)
print(X)

  (0, 184)	0.2504386403921959
  (0, 174)	0.22636232010236487
  (0, 170)	0.2504386403921959
  (0, 128)	0.1683523322538806
  (0, 121)	0.2504386403921959
  (0, 91)	0.22636232010236487
  (0, 70)	0.2504386403921959
  (0, 40)	0.2504386403921959
  (0, 25)	0.10048499713657415
  (0, 22)	0.1924286525437116
  (0, 20)	0.5008772807843918
  (0, 19)	0.2504386403921959
  (0, 6)	0.2076872752298633
  (0, 3)	0.22636232010236487
  (0, 1)	0.3169899699701168
  (1, 187)	0.10167498085432329
  (1, 184)	0.11248932223147526
  (1, 174)	0.30502494256296986
  (1, 144)	0.2554625606711145
  (1, 138)	0.2554625606711145
  (1, 129)	0.11248932223147526
  (1, 128)	0.226856044119268
  (1, 126)	0.09328672600251509
  (1, 121)	0.22497864446295052
  (1, 102)	0.2554625606711145
  :	:
  (19, 31)	0.17870669716925777
  (19, 25)	0.07170355950350812
  (19, 18)	0.29640080254618767
  (19, 7)	0.07873751389051058
  (19, 5)	0.1373122329803584
  (19, 2)	0.12013197807940997
  (20, 194)	0.08627473582665864
  (20, 192)	0.25882420747997587
  (20, 191)	0.17254947165331727
  (20, 143)	0.079157011630346
  (20, 120)	0.09545107830160701
  (20, 96)	0.09545107830160701
  (20, 95)	0.07334140751067146
  (20, 90)	0.09545107830160701
  (20, 62)	0.09545107830160701
  (20, 50)	0.3251532198527825
  (20, 49)	0.7586908463231592
  (20, 48)	0.054007183196705805
  (20, 47)	0.21676881323518835
  (20, 38)	0.08627473582665864
  (20, 36)	0.079157011630346
  (20, 35)	0.09545107830160701
  (20, 18)	0.079157011630346
  (20, 5)	0.07334140751067146
  (20, 0)	0.28635323490482106

In [463]:
clf_tfidf = RandomForestClassifier(n_estimators=500).fit(X,Y_train)

In [464]:
clf_tfidf.score(X,Y_train)

1.0

In [465]:
df_test

    Unnamed: 0                                               Data  Label
0            0  Subject: പാലക്കാട്\nസംഗീതത്തിന്റെയും ഉത്സവങ്ങള...      1
1            1  Subject: ഇടുക്കി \nപച്ചപുതച്ച നിബിഢ വനങ്ങളും ഉ...      1
2            2  Subject: തേക്കടി \n\nപ്രകൃതിയുടെ ലാളനമേറ്റുവാങ...      1
3            3  Subject:കല്‍പ്പറ്റ \n\nവയനാടന്‍ പെരുമയുമായി . ...      1
4            4  Subject: മലയാളം\nഇന്ത്യയിൽ‌ പ്രധാനമായും കേരള സ...      0
5            5  Subject: നേപ്പാളി ഭാഷ\nനേപ്പാൾ, ഭൂട്ടാൻ എന്നിവ...      0
6            6  Subject: സിന്ധി\nസിന്ധി  ഇപ്പോൾ പാകിസ്താനിൽ സ്...      0
7            7  Subject: പഞ്ചാബി ഭാഷ\nലോകമെമ്പാടുമായി പത്തുകോട...      0
8            8  Subject: കടലുണ്ടി പക്ഷി സങ്കേതം\nമലപ്പുറം ജില്...      1
9            9  Subject: സിന്ധി\nസിന്ധി  ഇപ്പോൾ പാകിസ്താനിൽ സ്...      0
10          10  Subject: ബോഡോ\nവടക്ക്കിഴക്കൻ ഇന്ത്യയിൽ സംസാരിക...      0
11          11  Subject: ദോഗ്രി\nഇന്ത്യയിൽ ഏകദേശം 50 ലക്ഷത്തോള...      0
12          12  Subject: സന്താലി ഭാഷ\nസന്താൾ വംശജരുടെ ഭാഷയായ സ...      0
13          13  Subject: ആസ്സാമീസ്\nഇന്ത്യയിലെ വടക്കുകിഴക്കൻ സ...      0
14          14  Subject: തെലുഗു ഭാഷ\nഇന്ത്യൻ സംസ്ഥാനങ്ങളായ ആന്...      0
15          15  Subject: ഇടുക്കി ജില്ല\nകേരളത്തിന്റെ മധ്യഭാഗത്...      1
16          16  Subject: പത്തനംതിട്ട ജില്ല\nകേരളത്തിലെ ഒരു ജില...      1
17          17  Subject: കൊല്ലം ജില്ല\nകേരളത്തിലെ തെക്കുഭാഗത്ത...      1
18          18  Subject: പാലരുവി വെള്ളച്ചാട്ടം\nകേരളത്തിലെ കൊല...      1
19          19  Subject: ആര്യങ്കാവ്\nകേരളത്തിലെ കൊല്ലം ജില്ലയി...      1
20          20  Subject: തൃപ്പൂണിത്തുറ\nതൃപ്പൂണിത്തുറ കൊച്ചി ന...      1

In [466]:
X_test_tfidf = tfidf.transform(X_test)
clf_tfidf.score(X_test_tfidf,Y_test)

0.8095238095238095

In [467]:
confusion_matrix(Y_test,clf_tfidf.predict(X_test_tfidf))

array([[ 6,  4],
       [ 0, 11]])

In [468]:
print(classification_report(Y_train,clf_tfidf.predict(X_test_tfidf)))

             precision    recall  f1-score   support

          0       0.33      0.33      0.33         6
          1       0.73      0.73      0.73        15

avg / total       0.62      0.62      0.62        21

In [469]:
clf_tfidf.predict(tfidf.transform(['കന്നട']))

array([1])

In [470]:
clf_tfidf.predict(tfidf.transform(['മൂവാറ്റുപുഴ']))

array([1])